    <footer>
      <p>Copyright @ {{getCurrentYear}} | Digi Marketing Solutions</p>
    </footer>
    <script type="text/javascript" src="/vendors/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/script.js"></script>
  </body>
</html>
