<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} | DMS</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,900i">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header class="flex">
      <div class="header flex">
        <img src="/img/logo.png" alt="DigiMarketing Solutions" class="header__logo">
        <h1 class="header__name">DigiMarketing Solutions</h1>
      </div>
      <nav role="navigation" class="nav">
        <ul class="nav__ul flex">
          <li class="nav__li"><a href="#">Inicio</a></li>
          <li class="nav__li"><a href="#">Servicios</a></li>
          <li class="nav__li"><a href="#">Contáctanos</a></li>
        </ul>
      </nav>
    </header>
