<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} | DMS</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,900i">
    <link rel="stylesheet" href="/vendors/css/ionicons.min.css">
    <link rel="stylesheet" href="/resources/css/styles.css">
  </head>
  <body>
    <header class="flex">
      <!-- Logo and company's name -->
      <div class="header flex">
        <img src="/resources/img/logo.png" alt="DigiMarketing Solutions" class="header__logo">
        <h1 class="header__name">DigiMarketing Solutions</h1>
      </div>
      <!-- Social media menu -->
      <div class="social--header">
        <ul class="social__ul flex">
          <li class="social__li"><a href="#"><i class="ion-social-facebook fb"></i></a></li>
          <li class="social__li"><a href="#"><i class="ion-social-instagram ins"></i></a></li>
          <li class="social__li"><a href="#"><i class="ion-social-googleplus gl"></i></a></li>
          <li class="social__li"><a href="#"><i class="ion-social-skype sk"></i></a></li>
          <li class="social__li"><a href="#"><i class="ion-social-linkedin in"></i></a></li>
        </ul>
      </div>
      <!-- Navigation bar -->
      <nav role="navigation" class="nav">
        <ul class="nav__ul flex">
          <li class="nav__li"><a href="#">Inicio</a></li>
          <li class="nav__li"><a href="#">Servicios</a></li>
          <li class="nav__li"><a href="#">Contáctanos</a></li>
        </ul>
      </nav>
    </header>
