{{> header}}

<div class="home">
  <div class="banner flexc">
    <h2 class="banner__text">Pregúntanos como impulsar tu negocio</h2>
    <button class="banner__btn" type="button" name="button">Digitalízate</button>
  </div>
</div>

{{> footer}}
